streamlit
python-dotenv

langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-mistralai

faiss-cpu



sentence-transformers

unstructured
unstructured[pdf]

pillow
pytesseract
pdf2image