flask
flask-cors
gunicorn
python-dotenv
requests

# Document processing
unstructured[pdf]

# OCR and Image Processing (Used by unstructured's hi_res strategy)
unstructured-inference
pytesseract
pdf2image
pillow

# GenAI and Vector store
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
faiss-cpu